mixin card(name, price, size, id, url)
  .card(style='width: 20rem;')
    img.card-img-top(src=url, alt='Card image cap' width='250' height='220')
    .card-block
      h4.card-title=name
      p.card-text Размеры: #{size}
      p.card-text Цена: #{price}
      a.btn.btn-primary(href=`item/${id}`) Подробнее
