extends ../_layout

block main
  .container
    form(method='post') 
      table.table
        thead
          tr
            th #
            th Наименование товара
            th Кол-во
            th Сумма
        tbody
          each item, index in items
            tr
              th=(index + 1)
              th=item.title
              th=item.count
              th=(item.price * item.count)
              th
                a.btn.btn-primary(href=`/checkout/${item._id}/delete`) удалить
          tr 
            th Итоговая цена -  #{summ}
      button.btn.btn-primary Оформить



      